@charset "UTF-8";

article > div.content {
	color: #4b4b4b;
}

article > div.content strong {
	font-weight: normal;
	font-family: 'RobotoBold', Arial, Tahoma, Verdana, sans-serif;
}

/*prologue start*/
article > div.content > div.prologue {
	background-image: url('img/laurel.png');
	background-repeat: no-repeat;
	box-sizing: border-box;
}
/*prologue end*/

/*list start*/
article > div.content > div.client-rights > p:first-of-type {
	font-size: 40px;
	line-height: 46px;
}

article > div.content > div.client-rights > ul {
	list-style: none;
	padding-left: 0;
}

article > div.content > div.client-rights > ul > li {
	margin-bottom: 40px;
	padding-left: 150px;
	padding-right: 40px;
	font-family: 'Roboto';
	font-size: 26px;
	line-height: 36px;
	font-weight: 700;
	background-repeat: no-repeat;
	background-position: 0 0;
}

article > div.content > div.client-rights > ul > li.monitoring {
	background-image: url('img/cctv.png');
}

article > div.content > div.client-rights > ul > li.payment {
	background-image: url('img/hand_coin.png');
}

article > div.content > div.client-rights > ul > li.certificate {
	background-image: url('img/hand_paper.png');
}

article > div.content > div.client-rights > ul > li.log {
	background-image: url('img/clipboard.png');
}

article > div.content > div.client-rights > ul > li.supervision {
	background-image: url('img/builder.png');
}

article > div.content > div.client-rights > ul > li > p {
	font-family: 'RobotoLight';
	font-size: 18px;
	line-height: 28px;
	font-weight: 400;
}
/*list end*/

/*epilogue start*/
article > div.content > div.epilogue-no-image {
	color: #4b4b4b;
	border-top: solid 5px #ffaa00;
	box-sizing: border-box;
}
/*epilogue end*/

@media only screen and (min-width : 1021px) {
	article > div.content {
		font: normal 18px/24px 'RobotoLight', Arial, Tahoma, Verdana, sans-serif;
	}

	/*prologue start*/
	article > div.content > div.prologue {
		min-height: 225px;
		font: normal 20px/26px 'RobotoLight', Arial, Tahoma, Verdana, sans-serif;
		padding: 0 300px 0 0;
		background-position: 100% 0;
	}
	/*prologue end*/

	/*epilogue*/
	article > div.content > div.epilogue-no-image {
		padding: 10px 0 20px;
		margin: 40px 0 0;
	}

	article > div.content > div.epilogue-no-image > p {
		font-size: 24px;
		line-height: 38px;
	}
	/*epilogue end*/
}

@media only screen and (min-width : 641px) and (max-width : 1020px) {
	article > div.content {
		font: normal 18px/24px 'RobotoLight', Arial, Tahoma, Verdana, sans-serif;
	}

	/*prologue start*/
	article > div.content > div.prologue {
		min-height: 225px;
		font: normal 20px/26px 'RobotoLight', Arial, Tahoma, Verdana, sans-serif;
		padding: 0 300px 0 0;
		margin: 40px 0 0;
		background-position: 100% 0;
	}
	/*prologue end*/

	/*epilogue*/
	article > div.content > div.epilogue-no-image {
		padding: 0 0 21px;
		margin: 40px 0 0;
	}

	article > div.content > div.epilogue-no-image > p {
		font-size: 24px;
		line-height: 38px;
	}
	/*epilogue end*/
}

@media only screen and (min-width : 481px) and (max-width : 640px) {
	article > div.content {
		font: normal 16px/22px 'RobotoLight', Arial, Tahoma, Verdana, sans-serif;
	}

	/*prologue start*/
	article > div.content > div.prologue {
		font: normal 18px/24px 'RobotoLight', Arial, Tahoma, Verdana, sans-serif;
		padding: 240px 0 0;
		margin: 20px 0 0;
		background-position: 50% 0;
	}
	/*prologue end*/

	/*epilogue*/
	article > div.content > div.epilogue-no-image {
		padding: 0 0 18px;
		margin: 30px 0 0;
	}

	article > div.content > div.epilogue-no-image > p {
		font-size: 20px;
		line-height: 28px;
	}
	/*epilogue end*/
}

@media only screen and (max-width : 480px) {
	article > div.content {
		font: normal 16px/22px 'RobotoLight', Arial, Tahoma, Verdana, sans-serif;
	}

	/*prologue start*/
	article > div.content > div.prologue {
		font: normal 18px/24px 'RobotoLight', Arial, Tahoma, Verdana, sans-serif;
		padding: 240px 0 0;
		margin: 20px 0 0;
		background-position: 50% 0;
	}
	/*prologue end*/

	/*list start*/
	article > div.content > div.client-rights > ul > li {
		padding-left: 0;
		padding-right: 0;
		padding-top: 120px;
		background-position: 50% 0;
	}
	/*list end*/

	/*epilogue*/
	article > div.content > div.epilogue-no-image {
		padding: 0 0 18px;
		margin: 30px 0 0;
	}

	article > div.content > div.epilogue-no-image > p {
		font-size: 20px;
		line-height: 28px;
	}
	/*epilogue end*/
}
